/* In your main CSS file (e.g., styles.css) */
@import "tailwindcss";

@theme {
  --color-text-color: #e9f2f3;
  --color-background-color: #00191e;
  --color-primary-color: #ee2e31;
  --color-secondary-color: #16188c;
  --color-accent-color: #46c1cf;
}
